.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.secondary-container{
    width: 90%;
    padding: 20px;
}
.main-container h1, h4, h5, p{
    margin: 0;
    padding: 0;
}
.container-boton{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.words-container {
    margin-bottom: 20px;
}
.words-container h3 {
    margin-bottom: 10px;
}
.words-list {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;    
}
.words-list p {
    margin: 5px 0;
}
.container-boton-test{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;
}